In [9]:
import pandas as pd

# Создаем DataFrame из Таблицы 1 (сотрудники)
data_employees = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'Имя': ['Иван', 'Ольга', 'Алексей', 'Мария', 'Сергей', 'Анна', 'Дмитрий', 'Елена', 'Виктор', 'Алиса', 
            'Павел', 'Светлана', 'Роман', 'Татьяна', 'Николай', 'Валерия', 'Григорий', 'Юлия', 'Степан', 'Василиса'],
    'Возраст': [25, 30, 40, 35, 28, 32, 45, 29, 31, 27, 33, 26, 42, 37, 39, 24, 50, 45, 41, 38],
    'Должность': ['Инженер', 'Аналитик', 'Менеджер', 'Программист', 'Специалист', 'Разработчик', 'HR', 
                 'Маркетолог', 'Юрист', 'Дизайнер', 'Администратор', 'Тестировщик', 'Финансист', 'Редактор', 
                 'Логист', 'SEO-специалист', 'Бухгалтер', 'Директор', 'Экономист', 'Проект-менеджер'],
    'Отдел': ['IT', 'Маркетинг', 'Продажи', 'IT', 'HR', 'IT', 'HR', 'Маркетинг', 'Юридический', 'Дизайн', 
              'Администрация', 'Тестирование', 'Финансы', 'Редакция', 'Логистика', 'SEO', 'Бухгалтерия', 
              'Финансы', 'Экономика', 'Продажи'],
    'Зарплата': [60000, 75000, 90000, 80000, 50000, 85000, 48000, 70000, 95000, 62000, 55000, 67000, 
                105000, 72000, 75000, 64000, 110000, 150000, 98000, 88000],
    'Стаж работы': [2, 5, 15, 7, 3, 6, 12, 4, 10, 5, 7, 2, 20, 9, 11, 3, 25, 20, 14, 8]
}

df_employees = pd.DataFrame(data_employees)

# Сохраняем в CSV
df_employees.to_csv('tablica.csv', index=False, encoding='utf-8')

# Читаем из CSV
df_from_csv = pd.read_csv('tablica.csv', encoding='utf-8')
print("Данные из CSV файла:")
print(df_from_csv.head())

Данные из CSV файла:
   ID      Имя  Возраст    Должность      Отдел  Зарплата  Стаж работы
0   1     Иван       25      Инженер         IT     60000            2
1   2    Ольга       30     Аналитик  Маркетинг     75000            5
2   3  Алексей       40     Менеджер    Продажи     90000           15
3   4    Мария       35  Программист         IT     80000            7
4   5   Сергей       28   Специалист         HR     50000            3

In [3]:
# Создаем DataFrame из Таблицы 2 (клиенты)
data_clients = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'Имя': ['Иван', 'Ольга', 'Алексей', 'Мария', 'Сергей', 'Анна', 'Дмитрий', 'Елена', 'Виктор', 'Алиса', 
            'Павел', 'Светлана', 'Роман', 'Татьяна', 'Николай', 'Валерия', 'Григорий', 'Юлия', 'Степан', 'Василиса'],
    'Возраст': [34, 27, 45, 38, 29, 50, 31, 40, 28, 33, 46, 37, 41, 25, 39, 42, 49, 50, 30, 35],
    'Город': ['Москва', 'Санкт-Петербург', 'Казань', 'Новосибирск', 'Екатеринбург', 'Воронеж', 'Челябинск', 
              'Краснодар', 'Ростов-на-Дону', 'Уфа', 'Омск', 'Пермь', 'Тюмень', 'Саратов', 'Самара', 
              'Волгоград', 'Барнаул', 'Иркутск', 'Хабаровск', 'Томск'],
    'Баланс на счете': [120000, 80000, 150000, 200000, 95000, 300000, 140000, 175000, 110000, 98000, 
                       250000, 210000, 135000, 155000, 125000, 180000, 275000, 320000, 105000, 90000],
    'Кредитная история': ['Хорошая', 'Средняя', 'Плохая', 'Хорошая', 'Средняя', 'Отличная', 'Средняя', 
                         'Хорошая', 'Плохая', 'Средняя', 'Хорошая', 'Отличная', 'Средняя', 'Хорошая', 
                         'Средняя', 'Плохая', 'Отличная', 'Хорошая', 'Средняя', 'Плохая']
}

df_clients = pd.DataFrame(data_clients)

# Сохраняем в Excel
with pd.ExcelWriter('data.xlsx') as writer:
    df_clients.to_excel(writer, sheet_name='Клиенты', index=False)

# Читаем из Excel
df_from_excel = pd.read_excel('data.xlsx', sheet_name='Клиенты')
print("\nДанные из Excel файла:")
print(df_from_excel.head())

Данные из Excel файла:
   ID      Имя  Возраст            Город  Баланс на счете Кредитная история
0   1     Иван       34           Москва           120000           Хорошая
1   2    Ольга       27  Санкт-Петербург            80000           Средняя
2   3  Алексей       45           Казань           150000            Плохая
3   4    Мария       38      Новосибирск           200000           Хорошая
4   5   Сергей       29     Екатеринбург            95000           Средняя

In [13]:
# Экспортируем DataFrame сотрудников в JSON
df_employees.to_json('tablica.json', orient='records', force_ascii=False)

# Читаем из JSON
df_from_json = pd.read_json('tablica.json')
print("\nДанные из JSON файла:")
print(df_from_json.head())

Данные из JSON файла:
   ID      Имя  Возраст    Должность      Отдел  Зарплата  Стаж работы
0   1     Иван       25      Инженер         IT     60000            2
1   2    Ольга       30     Аналитик  Маркетинг     75000            5
2   3  Алексей       40     Менеджер    Продажи     90000           15
3   4    Мария       35  Программист         IT     80000            7
4   5   Сергей       28   Специалист         HR     50000            3